/* font Alumni Sans */
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@700&display=swap');

#first-header{
    font-family: 'Alumni Sans', sans-serif;
    font-size: 48px;
    color: rgb(67, 150, 252);
}